html, body, #root {
  height: 100%;
  overflow: hidden;
}

@media (max-width: 768px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

img {
  max-width: 100%;
  height: auto;
}

html {
  -webkit-text-size-adjust: 100%;
}